<pre>
-----------------------------------------
--- southwestify.me ---------------------
-----------------------------------------
-------------------------- official -----
-------------------------------- site ---
-----------------------------------------

                  * * *

            thanks for booking :)

                  * * *

Successfully scheduled a check-in job for {{ data.first_name }} {{ data.last_name }}
with the confirmation number {{ data.confirmation }}. The job will run at {{ data.scheduled_for }}
and will automatically determine when to check you in for your Southwest flight.
</pre>
